---
import '../assets/styles/base.css'
import Main from '../components/Main.astro'
import Header from '../components/Header.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Charles Brands Homepage</title>
  </head>
  <body class="bg-primary-900 text-primary-100">
    <Header />
    <Main>
      <h1>Home page</h1>
      <h2>Below some dummy content to test header</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        dignissimos quaerat, ratione totam quae impedit reiciendis? Nostrum,
        incidunt, necessitatibus ullam amet esse corrupti fugit sit aliquid
        eveniet inventore deleniti voluptatum exercitationem! Veniam, fuga
        molestiae animi ab, officia eligendi tempora possimus id voluptatem
        architecto quibusdam, incidunt totam tenetur? Nobis, esse eligendi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        dignissimos quaerat, ratione totam quae impedit reiciendis? Nostrum,
        incidunt, necessitatibus ullam amet esse corrupti fugit sit aliquid
        eveniet inventore deleniti voluptatum exercitationem! Veniam, fuga
        molestiae animi ab, officia eligendi tempora possimus id voluptatem
        architecto quibusdam, incidunt totam tenetur? Nobis, esse eligendi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        dignissimos quaerat, ratione totam quae impedit reiciendis? Nostrum,
        incidunt, necessitatibus ullam amet esse corrupti fugit sit aliquid
        eveniet inventore deleniti voluptatum exercitationem! Veniam, fuga
        molestiae animi ab, officia eligendi tempora possimus id voluptatem
        architecto quibusdam, incidunt totam tenetur? Nobis, esse eligendi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        dignissimos quaerat, ratione totam quae impedit reiciendis? Nostrum,
        incidunt, necessitatibus ullam amet esse corrupti fugit sit aliquid
        eveniet inventore deleniti voluptatum exercitationem! Veniam, fuga
        molestiae animi ab, officia eligendi tempora possimus id voluptatem
        architecto quibusdam, incidunt totam tenetur? Nobis, esse eligendi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        dignissimos quaerat, ratione totam quae impedit reiciendis? Nostrum,
        incidunt, necessitatibus ullam amet esse corrupti fugit sit aliquid
        eveniet inventore deleniti voluptatum exercitationem! Veniam, fuga
        molestiae animi ab, officia eligendi tempora possimus id voluptatem
        architecto quibusdam, incidunt totam tenetur? Nobis, esse eligendi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        dignissimos quaerat, ratione totam quae impedit reiciendis? Nostrum,
        incidunt, necessitatibus ullam amet esse corrupti fugit sit aliquid
        eveniet inventore deleniti voluptatum exercitationem! Veniam, fuga
        molestiae animi ab, officia eligendi tempora possimus id voluptatem
        architecto quibusdam, incidunt totam tenetur? Nobis, esse eligendi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        dignissimos quaerat, ratione totam quae impedit reiciendis? Nostrum,
        incidunt, necessitatibus ullam amet esse corrupti fugit sit aliquid
        eveniet inventore deleniti voluptatum exercitationem! Veniam, fuga
        molestiae animi ab, officia eligendi tempora possimus id voluptatem
        architecto quibusdam, incidunt totam tenetur? Nobis, esse eligendi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        dignissimos quaerat, ratione totam quae impedit reiciendis? Nostrum,
        incidunt, necessitatibus ullam amet esse corrupti fugit sit aliquid
        eveniet inventore deleniti voluptatum exercitationem! Veniam, fuga
        molestiae animi ab, officia eligendi tempora possimus id voluptatem
        architecto quibusdam, incidunt totam tenetur? Nobis, esse eligendi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        magnam tenetur adipisci? Dolores, mollitia! Voluptas, cupiditate nostrum
        dolorem vitae praesentium consectetur, mollitia officia, odio sapiente
        dolores est illo ab autem! In autem cupiditate quos itaque nisi odio quo
        molestias fugit, dolorum libero, eligendi nemo maxime sed! Neque
        asperiores voluptatibus dolore eligendi deserunt doloremque debitis in
        nobis aut fuga aliquam nemo aspernatur laboriosam maxime iure ratione
        molestiae alias deleniti officiis ullam, tenetur velit repellat.
        Dignissimos, cupiditate commodi. Facere eaque quibusdam fuga labore
        veniam ducimus cum voluptas necessitatibus expedita omnis minus nam
        tempore molestiae, ipsa magnam dolor libero, eum voluptate ab temporibus
        reprehenderit? Beatae distinctio minus tenetur quaerat soluta tempora
        doloribus optio, porro animi, libero doloremque consequatur recusandae,
        aliquam error rerum corrupti sit voluptatibus pariatur rem atque quae
        corporis officia similique laboriosam? Quia debitis repellendus
        molestiae sequi dignissimos cum perspiciatis sed omnis deleniti.
        Officiis quam laudantium saepe iure atque id modi eum corporis
        repellendus, ut rem nihil molestiae est inventore expedita voluptas
        pariatur aspernatur nemo, earum ullam ducimus animi eos fugit sit. Nemo,
        corrupti libero mollitia enim explicabo laboriosam debitis sequi sint
        repellat dolore, atque minima rerum velit perferendis. Quae harum
        quidem, sit a cumque delectus, tempore velit illum cum culpa magni
        expedita quos blanditiis, illo eaque nesciunt numquam laudantium! Minus
        sit ut officiis eligendi, necessitatibus qui mollitia illum alias. Quam
        aliquam eveniet deserunt inventore vero debitis aperiam, beatae dolorum
        molestias! Harum, doloribus quaerat. Illo beatae quo fuga nisi. Non
        vero, nemo nam aliquid esse deserunt pariatur nostrum officia assumenda.
        Accusamus eius, optio at nobis deserunt vitae modi earum. Animi
        laboriosam dolorum deserunt beatae, sequi dolore suscipit veniam, nemo
        perferendis tempora nulla rerum temporibus soluta officia odio tempore
        vel unde pariatur quibusdam ad doloribus omnis laudantium! Hic, alias
        repellendus reprehenderit voluptates et nobis ut commodi sapiente
        impedit. Iure quisquam optio, aut maxime voluptas aspernatur totam autem
        vitae odit illum beatae alias laudantium suscipit excepturi, maiores,
        iste quibusdam numquam incidunt vero nihil inventore. Ab, nihil rerum
        nemo nesciunt asperiores, modi ducimus qui alias officiis sit nisi
        molestiae optio totam magnam culpa eaque quo dignissimos earum? Quia
        reiciendis amet et, cum illum recusandae vitae eos quibusdam culpa ut
        laborum facilis unde est, modi quod consequatur beatae explicabo
        perferendis officiis! Quia quis quidem ex aliquid soluta eveniet itaque
        nobis obcaecati debitis odio a in architecto minima voluptate,
        recusandae, sapiente voluptatem dicta veniam voluptas. Rem laborum
        obcaecati in modi, incidunt at enim deleniti delectus est consectetur
        nostrum commodi, maiores inventore deserunt! Est velit aut quas illum.
        Ipsam veniam aut corporis delectus in minima. Magnam ratione deleniti
        dicta iusto quas repellat sed nihil minima vero ad, inventore asperiores
        eos libero ipsum. Suscipit nulla eaque natus magni est vitae
        perspiciatis similique quae officiis, eos blanditiis deleniti quibusdam
        repudiandae, omnis mollitia quidem delectus, earum assumenda ullam
        cumque placeat. Iusto neque exercitationem beatae rerum perferendis
        facere aliquid? Temporibus quasi, accusantium rerum, sequi laborum nisi
        cupiditate officia perspiciatis et commodi sunt impedit necessitatibus
        rem aperiam tempora consequuntur excepturi. Ipsum, sit doloremque! Vitae
        amet consequatur ab repellat explicabo id vel labore atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, illum.
        Minus iusto, quibusdam blanditiis ex quia quam fugiat voluptas
        dignissimos eum non neque at amet nesciunt quod hic maiores sit dolores
        culpa aperiam repellat voluptatum libero! Expedita soluta aperiam fugit!
        Neque, nesciunt facere saepe vitae nemo expedita officia nihil quae
        aperiam reprehenderit quo quia corporis adipisci quam quidem odit fugiat
        maiores, sit ut cum! Minima praesentium doloremque repellendus dolorem
        nemo impedit, nulla amet consequuntur, fugiat, a facere culpa eos non!
        Et ab fuga harum exercitationem, nemo necessitatibus? Aliquam, minus
        delectus! Magnam officia perspiciatis adipisci temporibus, quisquam fuga
        veritatis ipsa odio repellat! Incidunt ex ab iure accusantium ad
        expedita laboriosam quis sit dolorem maxime, ipsam dicta at dolore nisi
        ut consectetur vel id veniam voluptatem saepe qui sunt magnam? At illo
        dignissimos, dolorum tenetur odit sint suscipit natus magnam. Molestias
        explicabo porro perspiciatis, ratione, obcaecati necessitatibus ipsum
        corporis pariatur a adipisci ducimus corrupti sequi beatae. Id nostrum
        voluptates dignissimos perspiciatis? Enim, accusamus! Dolorem nisi qui
        animi neque voluptatum unde et incidunt nesciunt, deserunt aspernatur
        amet quod enim vel quasi tempora! Delectus molestias laborum id vel quod
        aliquid velit dignissimos ducimus nisi, assumenda corrupti dicta culpa
        nam temporibus quam voluptatibus aspernatur recusandae ullam!
        Exercitationem sit explicabo pariatur laudantium id saepe omnis alias
        eius modi quas illo eos, nihil ipsa corrupti molestias voluptate ipsam
        iusto unde ea distinctio repudiandae optio! Porro obcaecati, laudantium,
        amet vitae voluptates eligendi consectetur accusantium optio, blanditiis
        ut sapiente tempore alias ex illum eos exercitationem odio animi qui
        pariatur accusamus. Nemo odit placeat unde quia minus aut esse? Harum
        qui iusto nisi cum hic, voluptate nihil pariatur asperiores error
        facilis enim non sunt neque officia. Veritatis iste incidunt ab,
        expedita asperiores debitis consequuntur assumenda amet cumque
        distinctio, adipisci similique, iure aspernatur in inventore ratione
        tempora quas dolorem sed maiores voluptatem. Maxime enim libero dolore
        voluptas est voluptatum asperiores iure nisi. Amet numquam laboriosam
        inventore reprehenderit sequi libero, blanditiis neque quisquam
        voluptatem temporibus officiis aspernatur nobis fugit, dicta, at odit
        repudiandae voluptate illo incidunt? Aut totam harum nulla rem
        architecto dicta, reprehenderit autem quas? Excepturi molestiae a
        doloribus dolorem quibusdam porro nobis dolore provident, odit hic
        corrupti iure reiciendis nisi eos dicta perferendis commodi qui
        exercitationem omnis placeat. Laudantium id quae saepe soluta, ducimus
        incidunt commodi. Laudantium, nulla! Laborum, a maxime expedita quam,
        rerum modi perspiciatis molestiae architecto esse dolore assumenda
        voluptate facere magni iusto dolorem commodi natus similique quisquam
        reprehenderit praesentium! Consequatur, numquam. Officia exercitationem
        libero possimus aut rem fugit nisi repellendus quisquam aspernatur
        consequuntur? Dolorem, exercitationem aliquid aliquam commodi sequi
        asperiores distinctio quis ut consectetur rerum, reprehenderit
        voluptatem praesentium nam nobis perspiciatis. Repellendus rerum facere
        quam est eveniet nihil labore vero! Reiciendis facilis porro laboriosam,
        temporibus sapiente nam mollitia molestiae repudiandae, est dolor animi
        voluptatum ratione, amet perspiciatis necessitatibus vero laborum
        eveniet cumque dignissimos recusandae voluptates. Voluptatum quis itaque
        temporibus eum consequatur deleniti voluptatem doloremque? Magnam in non
        eum nemo sint nisi ullam obcaecati, consequuntur magni quos deleniti
        quae earum nobis. Aliquam eum voluptas laborum, quasi mollitia nesciunt
        earum sequi, tempore recusandae officiis minus modi debitis ipsa,
        consequuntur maiores numquam ipsum inventore dolores? Cumque, beatae
        quas culpa vitae eos molestiae facilis obcaecati quo harum, repellat
        quidem ea quod perspiciatis cupiditate placeat quis molestias explicabo
        aut, voluptas omnis. Eveniet recusandae quam eos rerum error magni sit
        voluptatem quod, provident ab eaque maxime vitae veniam esse. Cumque,
        praesentium dolorum quaerat harum illum inventore blanditiis odit
        explicabo atque voluptatum eius? Omnis, ipsam? Accusantium adipisci
        commodi labore eaque culpa at porro inventore? Sunt alias recusandae
        nostrum, dolor architecto veritatis, cupiditate dicta reiciendis optio
        fuga ullam at maxime non tempora quod laudantium suscipit doloribus. Aut
        optio aperiam minima animi iste laudantium esse quod at voluptatibus
        nulla, sit earum omnis fugiat velit culpa ab ea aliquam odio, quaerat
        consectetur possimus quam dolorum. Debitis illum consectetur nobis
        maxime fuga neque natus, aspernatur consequatur assumenda eaque? Minus
        velit pariatur soluta quis? Quibusdam qui labore laudantium debitis,
        earum doloribus dolore illum iste placeat quas quae impedit reiciendis
        recusandae, rerum, fuga maxime. Suscipit sapiente corrupti facere omnis,
        velit quia quis nobis est vel eos iusto dolorum iure aspernatur eaque
        voluptate dolores, doloremque exercitationem veritatis. Eaque hic ipsa
        rem quibusdam, modi maxime nostrum ex voluptate aliquam alias, omnis
        eveniet voluptatibus fugiat iusto eligendi porro, minima tenetur.
        Officiis cupiditate quaerat sapiente praesentium excepturi. Voluptatum
        natus eligendi quod molestiae, sint perspiciatis nostrum non odio, error
        eveniet nesciunt quas praesentium? Nostrum ullam autem corporis labore,
        officia atque! Error sapiente unde consectetur itaque numquam cumque
        ipsum eius deleniti possimus explicabo! Incidunt eos quod voluptates
        tempora corporis quas at, fugiat inventore totam accusantium iusto?
        Mollitia voluptas corrupti ratione, laudantium reprehenderit id fugit?
        Odit fugit cupiditate totam? Numquam sapiente quae amet alias ratione
        rerum nesciunt tempore quo inventore, natus non eos impedit? Pariatur
        facilis eius eum necessitatibus nostrum fugit magni laborum eaque,
        deserunt expedita voluptatibus quae laboriosam sint dignissimos nisi
        nemo velit, impedit, illum molestiae voluptates recusandae? Facere nam
        laboriosam rem odio sequi inventore, id tenetur provident aspernatur
        iusto ex asperiores eveniet, nemo alias unde aut! Commodi, vero nostrum
        harum nulla rem laboriosam laborum explicabo tempora eaque reiciendis
        velit totam voluptates. Eligendi, autem esse perferendis consequatur
        corporis temporibus non expedita impedit repudiandae dolor saepe error
        quasi modi enim veritatis tempore ipsa nemo beatae laborum! Modi animi
        fugit magni beatae ducimus error quasi est debitis nostrum fugiat
        blanditiis asperiores omnis, delectus itaque, veritatis magnam dolorum
        iste, nisi soluta maxime sunt! Repellat distinctio est explicabo ad
        impedit, iure quae consequuntur maiores harum ducimus ratione natus
        saepe sapiente eum. Enim sapiente aliquid deleniti neque, ratione illum
        aut. Molestiae non assumenda nulla officiis est, sed necessitatibus
        laudantium fuga, nemo perferendis labore ab expedita tempora doloribus
        atque unde sapiente distinctio accusamus doloremque libero fugiat?
        Doloremque non blanditiis magni asperiores debitis ipsa. Et ab nisi esse
        quis fuga qui rerum eligendi quidem? Sit soluta deleniti blanditiis
        officia tempora. Voluptates esse nesciunt architecto, laborum soluta
        cumque, iusto doloremque facilis, hic delectus ad rerum? Magnam culpa
        asperiores aliquam temporibus, sint fugiat numquam illum perspiciatis
        distinctio officiis! Ad quisquam quasi nulla quae voluptatibus
        veritatis.
      </p>
    </Main>
  </body>
</html>
