---
import type { CollectionEntry } from 'astro:content'
import Tag from './Tag.astro'

type Props = {
  tags: CollectionEntry<'projects'>['data']['tags']
  class?: string
}

const { tags, class: classList } = Astro.props
---

<div
  class:list={['flex gap-2 px-2 flex-wrap mt-2 mb-2 justify-center', classList]}
>
  {tags.map((tag: string) => <Tag tag={tag} />)}
</div>
